doctype html 
html 
    head 
        title MAYANK DANCE ACADEMY 
        block scripts 
        block style 
    body 
        nav#navbar
            ul
                div#logo
                    img(src="/static/logo.png", alt="",)
                    |MDA
                li #[a(href="/home" ) Home ]
                li #[a(href="/about" ) About ]
                li #[a(href="/services" ) Services]
                li #[a(href="/contact" ) Contact Us]
                li #[a(href="/post" ) Post ]

        block content 
        